* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16pt;
}
* {
    box-sizing: border-box;
}


/* section:nth-of-type(odd) {
    background:#f7ffe0
    ;
}
section:nth-of-type(even) {
    background: blue;
} */

/* repeat 5 é para determinar as sections; 40vh é para o footer. */

.wrapper {
    min-height: 100vh;
    background: black;
    display: grid;
    grid-template-rows: 15vh repeat(5,90vh) 40vh;
}

nav {
    background: #D2C2B0;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav p {
    margin: 0 15px;
}

#logo {
    margin-right: 53vw;
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

/* Coloquei outro grida dentro dessa classe para poder posicionar os elementos. Dessa linha para baixo, é só alteração minha. */
.case-de-sucessos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 80px repeat(2, 1fr);
    grid-gap: 20px;
    background: #1F1F24;
    align-items: center;
    justify-content: center;
}

.case-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid #D2C2B0;
}

.case-depoimento {
    color: white;
    padding-left: 10px; 
}

#case-header {
    color: white;
    grid-column: 3 / 4;
    justify-self: center;
}

#case-img-1 {
    grid-row: 2 / 3;
    grid-column: 2 /3;
    margin: auto;
}

#case-img-2 {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    margin: auto;
    object-fit: cover;
}

#case-img-3 {
    grid-row: 2 / 3;
    grid-column: 4 / 5;
    margin: auto;
}

#depoimento-case-1 {
    grid-row: 3 / 4;
    grid-column: 2 /3;
}

#depoimento-case-2 {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
}

#depoimento-case-3 {
    grid-row: 3 / 4;
    grid-column: 4 / 5;
}

/* outro display grid para poder posicionar os elementos. */
footer {
    background: #69696D;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    justify-items: center;
    color: #1F1F24;
}

footer h1 {
    grid-column: 2 / 3;
}

footer img {
    width: 100px;
    height: 100px;
}

#linkedin-img, #instagram-img, #twitter-img {
    grid-row: 2 / 3;
}
.nosso-produto-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 3%;
    background: #1f1f24;
    color: white;
}
.nosso-produto-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}
.nosso-produto-card-container {
    display: flex;
    justify-content: space-around;
    padding-top: 3%;
}
.nosso-produto-card {
    border: 1px solid rgb(114, 114, 114);
    border-radius: 20px;
    background: #ebe4dc;
    color: black;
    box-shadow: 0px 2px 5px 0px rgba(34, 34, 34, 0.705);
}
.nosso-produto-card img{
    width: 100%;
    max-height: 500px;
    border-radius: 20px;
}
.nosso-produto-card h2,p {
    margin: 0;
    margin-top:5px;
    padding-left: 5%;
    text-align: justify;
}

.nosso-time-container {
    background: url(team-photo.jpg);
    background-size: cover;
    display: flex;
    box-shadow:inset 0 0 0 2000px #1f1f2485;
 
}
.nosso-time-container > p {
    flex: 1;
    align-self: flex-end;
    color: white;
    font-size: 2rem;
}

.cotainer-img {
    width: 50%;
    height:100%;
    
}

.quem-somos-container {
    text-align: center;
    font-family: calibri;
    background:#f7ffe0;
}

.quem-somos-container img{
    width: 100%;
    height:290px;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    object-fit: cover;
    
}

.quem-somos-container h4 {
    font-size: 40px;
    line-height: 1.25rem;
    color: black;
    

}

.quem-somos-container h3 {
    font-size: 22px;
    line-height: 1.25rem;
}

.quem-somos-container p {
    font-size: 18px;
    line-height: 1.5;
    color: black;
    
}

footer {
    background: cyan;
}

.onde-estamos {
    background:#f7ffe0;
}

.onde-estamos img {
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border: 1px solid black;
}

.onde-estamos h4 {
    font-size: 20px;
    text-align: center;
    font-family: calibri;

}

/* .cotainer-img {
    width: 50%;
    height: 100%;
}

.quem-somos-container {
    text-align: center;
    font-family: calibri;


}

.quem-somos-container img{
    width: 100%;
    height:290px;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    object-fit: cover;

}

.quem-somos-container h4 {
    font-size: 40px;
    line-height: 1.25rem;
    color: black;


}

.quem-somos-container h3 {
    font-size: 22px;
    line-height: 1.25rem;
    color: white;
}

.quem-somos-container p {
    font-size: 18px;
    line-height: 1.5;
    color: black;

}

footer {
    background: cyan;
}

.onde-estamos img {
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border: 1px solid black;
}

.onde-estamos h4 {
    font-size: 20px;
    text-align: center;
    font-family: calibri;
    color: white;
} */

.redes-sociais_item-facebook,
.redes-sociais_item-linkedin,
.redes-sociais_item-twitter,
.redes-sociais_item-github {
    background-color:black;
    padding: 2rem;
    border-radius: 1rem;
    margin: 40px;
    }

.redes-sociais_item-facebook a,
.redes-sociais_item-linkedin a,
.redes-sociais_item-twitter a,
.redes-sociais_item-github a {
    text-decoration: none;
    color: white;
    }

       .redes-sociais_item {
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        justify-content: space-around;
        text-align: center;
            }

            /*Footer*/

            footer {
                font-family: Arial, Helvetica, sans-serif;
                text-align: center;
                padding: 5px;
                background: black;
                color: white;
                margin: 0;
            }