body {
    margin: 0;
    padding: 0;
}

.wrapper {
    min-height: 100vh;
    background: black;
    display: grid;
    grid-template-rows: 10vh repeat(4,90vh);
}

header {
    background: green;
    position: sticky;
    top: 0;
    left: 0;
}

.quem-somos-container {
    text-align: center;
    font-family: calibri;


}

.quem-somos-container img{
    height: 45%;
    width: 60%;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    
    
}

.quem-somos-container h4 {
    font-size: 40px;
    line-height: 1.25rem;
    color: black;
    

}

.quem-somos-container h3 {
    font-size: 22px;
    line-height: 1.25rem;
}

.quem-somos-container p {
    font-size: 18px;
    line-height: 1.5;
    color: black;
    
}

section:nth-of-type(odd) {
    background: red;
}
section:nth-of-type(even) {
    background: blue;
}
footer {
    background: cyan;
}

.onde-estamos img {
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border: 1px solid black;
}

.onde-estamos h4 {
    font-size: 20px;
    text-align: center;
    font-family: calibri;

}
